@model OrderView
@{
    ViewData["Title"] = "Update Order";
}
<table style="width:90%">
    <tr>
        <td>
            <table style="width:95%;height:280px;border-radius:20px;background-color: #CAD5C9">
                <tr>
                    <td><p style="margin:5px">OrderId(<span style="color:red">*</span>)</p></td>
                    <td><input name="ProductId" style="margin:5px; border-radius:5px;padding-left:10px" /></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">MemberId(<span style="color:red">*</span>)</p></td>
                    <td><input name="UnitPrice" style="margin:5px; border-radius:5px;padding-left:10px" /></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">OrderDate(<span style="color:red">*</span>)</p></td>
                    <td><input name="Quantity" style="margin:5px; border-radius:5px;padding-left:10px" /></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">RequiredDate(<span style="color:red">*</span>)</p></td>
                    <td><input name="Discount" style="margin:5px; border-radius:5px;padding-left:10px" /></td>
                </tr>
                <tr hidden>
                    <td><p style="margin:5px">Freight </p></td>
                    <td><input name="isDeleted" style="margin:5px; border-radius:5px;padding-left:10px" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button style="width:80%;height:40px;border-radius:8px;background-color:#CCA7DC;margin:5px">Add this order detail</button></td>
                </tr>
            </table>
        </td>
        <td>
            <table style="width:95%;height:300px;border-radius:20px;background-color: #5F9EC0">
                <tr>
                    <td><p style="margin:5px">OrderId</p></td>
                    <td><p style="margin:5px">@Model.OrderId</p></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">MemberId </p></td>
                    <td><p style="margin:5px">@Model.MemberId </p></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">OrderDate </p></td>
                    <td><p style="margin:5px">@String.Format("{0:MM/dd/yyyy}",Model.OrderDate)</p></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">RequiredDate </p></td>
                    <td><p style="margin:5px">@String.Format("{0:MM/dd/yyyy}",Model.RequiredDate)</p></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">ShippedDate </p></td>
                    <td><p style="margin:5px">@String.Format("{0:MM/dd/yyyy}",Model.ShippedDate)</p></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">Freight </p></td>
                    <td><p style="margin:5px">@Model.Freight </p></td>
                </tr>
                <tr>
                    <td><p style="margin:5px">MaxNo</p></td>
                    <td><p style="margin:5px" id="MaxNo">@Model.MaxNo</p></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<div id="list">
@foreach(OrderDetailView odv in Model.OrderDetailsView)
{
<div>
        <table style="width:80%;height:auto;border-radius:20px;margin-top:10px;background-color:#7DCE85">
        <tr>
                <td style="width:10%">
                    <p style="margin:5px"> ProductId </p>
            </td>
                <td style="width:10%">
                    <p style="margin:5px"> UnitPrice </p>
            </td>
                <td style="width:10%">
                    <p style="margin:5px"> Quantity </p>
            </td>
                <td style="width:10%">
                <p style="margin:5px"> Discount </p>
            </td>
                <td style="width:10%"><button style="width:100px;height:80%;border-radius:5px;margin-top:5px;margin-right:5px;background-color:#E4B624"> Delete </button></td>
        </tr>
        <tr>
            <td>
                    <input value="@odv.ProductId" style="margin:5px; border-radius:5px;padding-left:10px"readonly/>
            </td>
            <td>
                    <input value="@odv.UnitPrice" style="margin:5px;border-radius:5px;padding-left:10px" readonly />
            </td>
            <td>
                    <input value="@odv.Quantity" style="margin:5px;border-radius:5px;padding-left:10px" readonly />
            </td>
            <td>
                    <input value="@odv.Discount" style="margin:5px;border-radius:5px;padding-left:10px" readonly />
            </td>
            <td></td>
        </tr>
    </table>
</div>
}
</div>